# Python
./backend/__pycache__/
./backend/*.py[cod]
./backend/*.egg-info/
./backend/.venv/
./backend/*.log
./backend/dist
./backend/build
./backend/venv

# Node
./fronend/node_modules/
./fronend/dist/
./fronend/dist-render/
./fronend/public/

# Builds
*.exe
*.AppImage
frontend/dist/
frontend/dist-render/
backend/build/

# Data
uploads/

# System
.DS_Store
Thumbs.db
