# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.log

# Node
node_modules/
dist/
dist-render/
public/

# Builds
*.exe
*.AppImage
frontend/dist/
frontend/dist-render/
backend/build/

# Data
uploads/
*.pt

# System
.DS_Store
Thumbs.db
